<h1>Cloth</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><%= cloth.name %></td>
    <td><%= cloth.color %></td>
    <td><%= cloth.price %></td>
  </tr>
</table>